Options -Multiviews
RewriteEngine On
RewriteBase /palmsol

# Redirect all requests to index.php if file/folder not found
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
